.container {
  position: absolute;
  z-index: 998;
  height: 100%;
  width: 80%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .1);
  background-color: var(--app-clear-color);
}

.overlay {
  position: absolute;
  z-index: 997;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}