:root {
  --app-max-width: 100%;
  --app-min-width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media only screen and (min-width: 720px) {
  :root {
    --app-max-width: 500px;
    --app-min-width: 500px;
  }
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-normal-color);
}